[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ArkapravoNath
[access "refs/for/refs/*"]
	read = group user/ArkapravoNath
	push = group user/ArkapravoNath
	label-Code-Review = -2..+2 group user/ArkapravoNath
	label-Verified = -1..+1 group user/ArkapravoNath
	rebase = group user/ArkapravoNath
	removeReviewer = group user/ArkapravoNath
	submit = group user/ArkapravoNath
[access "refs/heads/*"]
	read = group user/ArkapravoNath
	create = group user/ArkapravoNath
	push = +force group user/ArkapravoNath
	pushMerge = group user/ArkapravoNath
[access "refs/tags/*"]
	push = group user/ArkapravoNath
	push = +force group user/ArkapravoNath
